.inner{
    margin: auto;
    text-align: center;
    position: relative;
    background-color: black;
    color: gold;
    margin: auto;
    top: 0px;
    border-style: dot-dash;
    border-color: wheat;
}
.outer{
    margin: auto;
    position: absolute;
}